@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Fira Code", monospace; 
  --font-mono: "JetBrains Mono", monospace;
}

body{
  background-color: #FCF9EE;
}

.pokemon-float{
  animation : float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px) ;
    }
}

.pokemon-bounce{
  /* Use a more 'snappy' cubic-bezier for gravity */
  animation: natural-bounce 5s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

@keyframes natural-bounce {
  0%, 100% {
    /* At the bottom: Slight squish (scaleY) and sitting on the floor */
    transform: translateY(0) scaleY(0.95) scaleX(1.05);
  }
  50% {
    /* At the top: Slight stretch (scaleY) and at peak height */
    transform: translateY(-20px) scaleY(1.05) scaleX(0.95);
  }
}

